* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container {
	max-width: 1100px;
	margin: 3em auto;
	background: rgb(252, 58, 58);
	padding: 1em;
	border-radius: 5px;
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.game-screen {
	border: 1px solid rgba(97, 83, 83, 0.888);
	border-radius: 5px;
	background: rgb(36, 36, 36);
	margin: 1em 0;
	display: flex;
	justify-content: space-around;
	padding: 7em 0;
}

.game-screen h2 {
	display: flex;
	flex-direction: column;
}

.game-screen h2 .player,
.game-screen h2 .ai {
	color: #fff;
	padding-bottom: 1em;
}

.game-controlls {
	margin: 1em 0;
}

.game-results {
	border: 1px solid rgba(97, 83, 83, 0.888);
	border-radius: 5px;
	background: rgb(36, 36, 36);
	margin: 1em 0;
	padding: 1em 0;
	color: #fff;
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 2px;
}

.icons i {
	transform: rotate(45deg);
	font-size: 5em;
	color: rgb(91, 71, 222);
}

.btn-play {
	background: rgb(1, 253, 39);
	padding: 0.7em 1em;
	border-radius: 5px;
	font-size: 1em;
	font-weight: 600;
	border: none;
	outline: none;
	transform: scale(1);
}

.btn-play:active {
	transform: scale(0.98);
}
